In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import glob
from selenium import webdriver
import requests 
import os

In [2]:
driver = webdriver.Chrome('c:/chromedriver.exe')
url = 'file:///C:/Users/hyb95_000/Desktop/shinhancard_20201110_900046432.html'
driver.get(url)
html = driver.page_source

soup = BeautifulSoup(html,'html.parser')
tables = soup.select('div#email02 > table.tblList.cardUseList > tbody > tr > td')

tables

[<td>20.09.27</td>,
 <td>체크<br/>549</td>,
 <td class="textL">서호김밥</td>,
 <td class="textR">            14,000</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">            14,000</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.09.27</td>,
 <td>체크<br/>549</td>,
 <td class="textL">GS25성수포레점</td>,
 <td class="textR">            10,000</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">            10,000</td>,
 <td class="textR">                 0</td>,
 <td class="textR">               500</td>,
 <td class="textR"> </td>,
 <td>20.09.28</td>,
 <td>체크<br/>549</td>,
 <td class="textL">왕창할인마트</td>,
 <td class="textR">             5,700</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             5,700</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.02</td>,
 <td>체크<br/>549</td>,
 <td class="textL">주식회사 세녹코리아</td>,
 <td class="textR">             5,500</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             5,500</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.02</td>,
 <td>체크<br/>549</td>,
 <td class="textL">주식회사 아성다이소</td>,
 <td class="textR">             6,000</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             6,000</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.03</td>,
 <td>체크<br/>549</td>,
 <td class="textL">씨제이올리브영(주)방배이수점</td>,
 <td class="textR">             3,600</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             3,600</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.04</td>,
 <td>체크<br/>549</td>,
 <td class="textL">BKR버거킹 사당역점</td>,
 <td class="textR">             5,500</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             5,500</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.04</td>,
 <td>체크<br/>549</td>,
 <td class="textL">선물하기_카카오페이</td>,
 <td class="textR">             6,100</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             6,100</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.05</td>,
 <td>체크<br/>549</td>,
 <td class="textL">북창동순두부 (서초점)</td>,
 <td class="textR">             8,500</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             8,500</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.06</td>,
 <td>체크<br/>549</td>,
 <td class="textL">항아리식당</td>,
 <td class="textR">             8,000</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             8,000</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.06</td>,
 <td>체크<br/>549</td>,
 <td class="textL">(주)무신사</td>,
 <td class="textR">            52,707</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">            52,707</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.07</td>,
 <td>체크<br/>549</td>,
 <td class="textL">왕창할인마트</td>,
 <td class="textR">             7,500</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             7,500</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.07</td>,
 <td>체크<br/>549</td>,
 <td class="textL">송황칼국수</td>,
 <td class="textR">             7,000</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             7,000</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.07</td>,
 <td>체크<br/>549</td>,
 <td class="textL">GS25  서초프랜드점</td>,
 <td class="textR">             3,500</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             3,500</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.08</td>,
 <td>체크<br/>549</td>,
 <td class="textL">왕창할인마트</td>,
 <td class="textR">            10,100</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">            10,100</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.08</td>,
 <td>체크<br/>549</td>,
 <td class="textL">내이처럼</td>,
 <td class="textR">             7,300</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             7,300</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.08</td>,
 <td>체크<br/>549</td>,
 <td class="textL">신도박스산업</td>,
 <td class="textR">             1,100</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             1,100</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.08</td>,
 <td>체크<br/>549</td>,
 <td class="textL">우정사업본부(우체국)</td>,
 <td class="textR">             7,000</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             7,000</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.09</td>,
 <td>체크<br/>549</td>,
 <td class="textL">월매네주막</td>,
 <td class="textR">            79,500</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">            79,500</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.09</td>,
 <td>체크<br/>549</td>,
 <td class="textL">데블다이스</td>,
 <td class="textR">             6,000</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             6,000</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.09</td>,
 <td>체크<br/>549</td>,
 <td class="textL">홍대개미 청량리역사점</td>,
 <td class="textR">            19,800</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">            19,800</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.10</td>,
 <td>체크<br/>549</td>,
 <td class="textL">곱스떡스 강남본점</td>,
 <td class="textR">            11,600</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">            11,600</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.10</td>,
 <td>체크<br/>549</td>,
 <td class="textL">곱스떡스 강남본점</td>,
 <td class="textR">            40,000</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">            40,000</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.10</td>,
 <td>체크<br/>549</td>,
 <td class="textL">GS25 강남YBM점</td>,
 <td class="textR">             6,000</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             6,000</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.11</td>,
 <td>체크<br/>549</td>,
 <td class="textL">다코기(수역점)</td>,
 <td class="textR">             9,900</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             9,900</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.12</td>,
 <td>체크<br/>549</td>,
 <td class="textL">매화</td>,
 <td class="textR">             6,000</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             6,000</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.12</td>,
 <td>체크<br/>549</td>,
 <td class="textL">선물하기_카카오페이</td>,
 <td class="textR">             6,100</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             6,100</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.13</td>,
 <td>체크<br/>549</td>,
 <td class="textL">10월**01-8791 Olleh요금</td>,
 <td class="textR">            20,900</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">            20,900</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.13</td>,
 <td>체크<br/>549</td>,
 <td class="textL">송황칼국수</td>,
 <td class="textR">             7,000</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             7,000</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.16</td>,
 <td>체크<br/>549</td>,
 <td class="textL">우리집</td>,
 <td class="textR">             7,500</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             7,500</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.18</td>,
 <td>체크<br/>549</td>,
 <td class="textL">주식회사 세녹코리아</td>,
 <td class="textR">             5,500</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             5,500</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.19</td>,
 <td>체크<br/>549</td>,
 <td class="textL">탐앤탐스 공릉역점</td>,
 <td class="textR">             4,000</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             4,000</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.21</td>,
 <td>체크<br/>549</td>,
 <td class="textL">완산골명가  남부터미널점</td>,
 <td class="textR">             6,500</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             6,500</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td>20.10.23</td>,
 <td>체크<br/>549</td>,
 <td class="textL">왕창할인마트</td>,
 <td class="textR">             5,700</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             5,700</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR"> </td>,
 <td class="textR">           411,107</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">           411,107</td>,
 <td class="textR">                 0</td>,
 <td class="textR">               500</td>,
 <td class="textR"> </td>,
 <td>20.09.25</td>,
 <td>무승인<br/>549</td>,
 <td class="textL">(주)티머니_버스</td>,
 <td class="textR">             1,200</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             1,200</td>,
 <td class="textR">                 0</td>,
 <td class="textR">               120</td>,
 <td class="textR"> </td>,
 <td>20.09.25</td>,
 <td>무승인<br/>549</td>,
 <td class="textL">(주)티머니_택시</td>,
 <td class="textR">             6,300</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             6,300</td>,
 <td class="textR">                 0</td>,
 <td class="textR">               630</td>,
 <td class="textR"> </td>,
 <td>20.09.26</td>,
 <td>무승인<br/>549</td>,
 <td class="textL">(주)티머니_지하철</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">               125</td>,
 <td class="textR"> </td>,
 <td>20.09.26</td>,
 <td>무승인<br/>549</td>,
 <td class="textL">(주)티머니_지하철</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">               125</td>,
 <td class="textR"> </td>,
 <td>20.09.27</td>,
 <td>무승인<br/>549</td>,
 <td class="textL">(주)티머니_지하철</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">               125</td>,
 <td class="textR"> </td>,
 <td>20.09.27</td>,
 <td>무승인<br/>549</td>,
 <td class="textL">(주)티머니_지하철</td>,
 <td class="textR">               100</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">               100</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                10</td>,
 <td class="textR"> </td>,
 <td>20.09.27</td>,
 <td>무승인<br/>549</td>,
 <td class="textL">(주)티머니_지하철</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">               125</td>,
 <td class="textR"> </td>,
 <td>20.10.03</td>,
 <td>무승인<br/>549</td>,
 <td class="textL">(주)티머니_지하철</td>,
 <td class="textR">               100</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">               100</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                10</td>,
 <td class="textR"> </td>,
 <td>20.10.03</td>,
 <td>무승인<br/>549</td>,
 <td class="textL">(주)티머니_지하철</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">               125</td>,
 <td class="textR"> </td>,
 <td>20.10.03</td>,
 <td>무승인<br/>549</td>,
 <td class="textL">(주)티머니_지하철</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">               125</td>,
 <td class="textR"> </td>,
 <td>20.10.04</td>,
 <td>무승인<br/>549</td>,
 <td class="textL">(주)티머니_지하철</td>,
 <td class="textR">               100</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">               100</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                10</td>,
 <td class="textR"> </td>,
 <td>20.10.05</td>,
 <td>무승인<br/>549</td>,
 <td class="textL">(주)티머니_지하철</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">               125</td>,
 <td class="textR"> </td>,
 <td>20.10.05</td>,
 <td>무승인<br/>549</td>,
 <td class="textL">(주)티머니_지하철</td>,
 <td class="textR">               100</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">               100</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                10</td>,
 <td class="textR"> </td>,
 <td>20.10.05</td>,
 <td>무승인<br/>549</td>,
 <td class="textL">(주)티머니_지하철</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">               125</td>,
 <td class="textR"> </td>,
 <td>20.10.05</td>,
 <td>무승인<br/>549</td>,
 <td class="textL">(주)티머니_지하철</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">               125</td>,
 <td class="textR"> </td>,
 <td>20.10.06</td>,
 <td>무승인<br/>549</td>,
 <td class="textL">(주)티머니_지하철</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">               125</td>,
 <td class="textR"> </td>,
 <td>20.10.06</td>,
 <td>무승인<br/>549</td>,
 <td class="textL">(주)티머니_지하철</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">               125</td>,
 <td class="textR"> </td>,
 <td>20.10.07</td>,
 <td>무승인<br/>549</td>,
 <td class="textL">(주)티머니_지하철</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">               125</td>,
 <td class="textR"> </td>,
 <td>20.10.07</td>,
 <td>무승인<br/>549</td>,
 <td class="textL">(주)티머니_지하철</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">                 0</td>,
 <td class="textR">             1,250</td>,
 <td class="textR">                 0</td>,
 <td class="textR">               125</td>,
 <td class="textR"> </td>,
 <td>20.10.08</td>,
 <td>무승인<br/>549</td>,
 <td class="textL">(주)티머니_지하철</td>,
 <td class="textR">               300</td>,
 <td class="textR">                 0</td>,

In [3]:
date_list = []

# for n in range(0,340,10) :
#     date = tables[n]
#     date_list.append(date.text)
    
for n in range(0,20,10) :
    date = tables[n]
    date_list.append(date.text)
    
date_list

['20.09.27', '20.09.27']

In [4]:
store_list = []

# for n in range(2,340,10) :
#     store = tables[n]
#     store_list.append(store.text)
    
for n in range(2,20,10) :
    store = tables[n]
    store_list.append(store.text)

store_list

['서호김밥', 'GS25성수포레점']

In [15]:
location_list = []

def create_url(search_text):
    headers = {'Authorization': 'KakaoAK 3e8ea332f0cdef6293383ac7bf81a6fc'}

    base = "https://dapi.kakao.com/v2/local/search/keyword.json"
    param_query = "?query=" +search_text
    print(f'base + param_query: {base + param_query}')
    respond = requests.get(base + param_query,headers=headers)
    return respond.json()

for n in range(len(store_list)) :
    store_name = store_list[n]
    result = create_url(store_name)
#     print(result)
    tmp1 = result['documents']
    tmp2 = tmp1[0]
    tmp3 = tmp2['address_name']
    location_list.append(tmp3)
    
location_list

base + param_query: https://dapi.kakao.com/v2/local/search/keyword.json?query=서호김밥
base + param_query: https://dapi.kakao.com/v2/local/search/keyword.json?query=GS25성수포레점

['서울 서초구 방배동 790-13', '서울 성동구 성수동1가 685-696']

In [16]:
price_list = []

# for n in range(3,340,10) :
#     price = tables[n]
#     price_list.append(price.text)
    
for n in range(3,20,10) :
    price = tables[n]
    price_list.append(price.text)
    
price_list

['            14,000', '            10,000']

In [17]:
table_data = {'사용날짜':date_list, '사용처':store_list, '사용처주소':location_list,  '사용금액':price_list }

df1 = pd.DataFrame(table_data, columns=['사용날짜', '사용처', '사용처주소', '사용금액'])

df1

       사용날짜        사용처                 사용처주소                사용금액
0  20.09.27       서호김밥     서울 서초구 방배동 790-13              14,000
1  20.09.27  GS25성수포레점  서울 성동구 성수동1가 685-696              10,000

In [107]:
excel_writer = pd.ExcelWriter('c:/myPyCode/data/carduselist.xlsx', 
                              engine='xlsxwriter')
df1.to_excel(excel_writer, index = False, sheet_name='카드사용리스트')
excel_writer.save()

In [19]:
# address = input('주소를 입력하시오 ')
# store_name = input('가게 이름을 입력하시오 ')

address = [table_data['사용처주소'][0]]
store_name = [table_data['사용처'][0]]

html = '''
<div id="map" style="width:1920px;height:1080px;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=562beaefa8f3396ba21741328654bece&libraries=services"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };  

// 지도를 생성합니다    
var map = new kakao.maps.Map(mapContainer, mapOption); 

// 주소-좌표 변환 객체를 생성합니다
var geocoder = new kakao.maps.services.Geocoder();
'''
for i in range(len(address)):

    # 주소로 좌표를 검색합니다
    html = html + "geocoder.addressSearch('" + address[i] + "', function(result, status) {"

    html = html + '''
        // 정상적으로 검색이 완료됐으면 
         if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });

            // 인포윈도우로 장소에 대한 설명을 표시합니다
            var infowindow = new kakao.maps.InfoWindow({
                content: '<div style="width:150px;text-align:center;padding:6px 0;">'''

    html = html + store_name[i] + '''</div>'
        });'''

html = html + '''
        infowindow.open(map, marker);

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
    } 
});    
</script>
'''

In [20]:
map_file = open('map.html', 'w')
map_file.write(html)
map_file.close()

In [3]:
# address = input('주소를 입력하시오 ')
# store_name = input('가게 이름을 입력하시오 ')

address = [table_data['사용처주소'][0]]
store_name = [table_data['사용처'][0]]

html = '''
<div id="map" style="width:1920px;height:1080px;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=562beaefa8f3396ba21741328654bece&libraries=services"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };  

// 지도를 생성합니다    
var map = new kakao.maps.Map(mapContainer, mapOption); 

// 주소-좌표 변환 객체를 생성합니다
var geocoder = new kakao.maps.services.Geocoder();
'''
for i in range(len(address)):

    # 주소로 좌표를 검색합니다
    html = html + "geocoder.addressSearch('" + address[i] + "', function(result, status) {"

    html = html + '''
        // 정상적으로 검색이 완료됐으면 
         if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });

            // 인포윈도우로 장소에 대한 설명을 표시합니다
            var infowindow = new kakao.maps.InfoWindow({
                content: '<div style="width:150px;text-align:center;padding:6px 0;">'''

    html = html + store_name[i] + '''</div>'
        });'''

html = html + '''
        infowindow.open(map, marker);

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
    } 
});    
</script>
'''

NameError: name 'table_data' is not defined