In [34]:
import pandas as pd
from bs4 import BeautifulSoup
import glob
from selenium import webdriver
import requests 
import os
import numpy as np

In [35]:
driver = webdriver.Chrome('c:/chromedriver.exe')
# url = 'file:///C:/Users/Playdata/Desktop/shinhancard_20200910_900046432/shinhancard_20200910_900046432.html'
url = 'file:///C:/Users/hyb95_000/Desktop/%EC%B2%B4%ED%81%AC%EC%B9%B4%EB%93%9C%20%EB%AA%85%EC%84%B8%EC%84%9C/shinhancard_20201110_900046432.html'
driver.get(url)
html = driver.page_source

soup = BeautifulSoup(html,'html.parser')

tables = soup.select('div#email02 > table.tblList.cardUseList > tbody > tr')
tables_middleSum = soup.select('div#email02 > table.tblList.cardUseList > tbody > tr.middleSum')

for n in range(len(tables_middleSum )) :
    tables.remove(tables_middleSum[n])

# 명세서에서 추출한 데이터 string으로 변환하여 분리
seperate_tables = []                          
for n in range(len(tables)) :
    table = str(tables[n].text).split('\n')
    seperate_tables = seperate_tables + table

# seperate_tables에서 '사용날짜' 추출   
date_list = []
for n in range(1,len(seperate_tables), 12) :
    date = seperate_tables[n]
    date_list.append(date)

# seperate_tables에서 '사용처' 데이터만 추출    
store_list = []
for n in range(3,len(seperate_tables),12) :
    store = seperate_tables[n].replace(" ", "")
    store_list.append(store)

# 카카오 API활용하여 seperate_tables에서 '사용처 주소' 데이터만 추출    
location_list = []

def create_url(search_text):
    headers = {'Authorization': 'KakaoAK 3e8ea332f0cdef6293383ac7bf81a6fc'}

    base = "https://dapi.kakao.com/v2/local/search/keyword.json"
    param_query = "?query=" +search_text
#     print(f'base + param_query: {base + param_query}')
    respond = requests.get(base + param_query,headers=headers)
    return respond.json()

for n in range(len(store_list)) :
# for n in range(10) :
    store_name = store_list[n]
    result = create_url(store_name)
    tmp1 = result['documents']
    try :
        tmp2 = tmp1[0]
        tmp3 = tmp2['address_name']
        location_list.append(tmp3)
    except :
        tmp2 = np.nan
        location_list.append(tmp2)
        
        
# location_list_2 = [ ' '.join(address.split()[:2]) for address in location_list if address != np.nan]


# seperate_tables에서 '사용금액' 데이터만 추출  
price_list = [] 
for n in range(4,len(seperate_tables),12) :
    price = seperate_tables[n]
    price_list.append(price)

# 추출한 데이터로 DataFrame 변환
table_data = {'사용날짜':date_list, '사용처':store_list, '사용처주소':location_list,  '사용금액':price_list }
df1 = pd.DataFrame(table_data, columns=['사용날짜', '사용처', '사용처주소', '사용금액'])

driver.close()

df1

        사용날짜         사용처                 사용처주소                사용금액
0   20.09.27        서호김밥     서울 서초구 방배동 790-13              14,000
1   20.09.27   GS25성수포레점  서울 성동구 성수동1가 685-696              10,000
2   20.09.28      왕창할인마트      서울 동작구 사당동 127-9               5,700
3   20.10.02   주식회사세녹코리아                   NaN               5,500
4   20.10.02   주식회사아성다이소   경남 창원시 성산구 상남동 26-4               6,000
..       ...         ...                   ...                 ...
84  20.10.22  (주)티머니_지하철                   NaN               1,250
85  20.10.23  (주)티머니_지하철                   NaN               1,250
86  20.10.23  (주)티머니_지하철                   NaN               1,250
87  20.10.24  (주)티머니_지하철                   NaN               1,250
88  20.10.24  (주)티머니_지하철                   NaN               1,250

[89 rows x 4 columns]

date = date_list
store_name = store_list
address = location_list
price = price_list

In [1]:
# 위치정보 없는 데이터 삭제한 DF 만들기
df_address = df1.dropna()

NameError: name 'df' is not defined

In [37]:
# 중복 사용지점 없는 DF 만들기
df_address_only = df_address.drop_duplicates(subset = '사용처')

In [38]:
name_index =  df_address['사용처']
data_in_name = df_address.rename(name_index)
data_in_name = data_in_name.drop(['사용처'], axis = 1)
data_in_name

                     사용날짜                 사용처주소                사용금액
서호김밥             20.09.27     서울 서초구 방배동 790-13              14,000
GS25성수포레점        20.09.27  서울 성동구 성수동1가 685-696              10,000
왕창할인마트           20.09.28      서울 동작구 사당동 127-9               5,700
주식회사아성다이소        20.10.02   경남 창원시 성산구 상남동 26-4               6,000
씨제이올리브영(주)방배이수점  20.10.03       서울 서초구 방배동 1671               3,600
북창동순두부(서초점)      20.10.05    서울 서초구 서초동 1443-11               8,500
항아리식당            20.10.06    서울 서초구 서초동 1439-14               8,000
(주)무신사           20.10.06      서울 강남구 신사동 640-2              52,707
왕창할인마트           20.10.07      서울 동작구 사당동 127-9               7,500
송황칼국수            20.10.07     서울 용산구 청파동2가 96-1               7,000
GS25서초프랜드점       20.10.07     서울 서초구 서초동 1605-4               3,500
왕창할인마트           20.10.08      서울 동작구 사당동 127-9              10,100
내이처럼             20.10.08      서울 동작구 사당동 138-3               7,300
신도박스산업           20.10.08  경기 김포시 하성면 원산리 536-1               1,100
우정사업본부(우체국)      20.10.08      전남 나주시 성북동 218-1               7,000
월매네주막            20.10.09     서울 강남구 역삼동 817-12              79,500
데블다이스            20.10.09      서울 강남구 역삼동 816-6               6,000
곱스떡스강남본점         20.10.10      서울 강남구 역삼동 619-2              11,600
곱스떡스강남본점         20.10.10      서울 강남구 역삼동 619-2              40,000
GS25강남YBM점       20.10.10     서울 강남구 역삼동 818-14               6,000
매화               20.10.12     서울 마포구 연남동 227-23               6,000
송황칼국수            20.10.13     서울 용산구 청파동2가 96-1               7,000
우리집              20.10.16     서울 강남구 역삼동 671-23               7,500
탐앤탐스공릉역점         20.10.19     서울 노원구 공릉동 388-35               4,000
완산골명가남부터미널점      20.10.21     서울 서초구 서초동 1441-1               6,500
왕창할인마트           20.10.23      서울 동작구 사당동 127-9               5,700

In [39]:
name_index =  df_address_only['사용처']
data_in_only_name = df_address_only.rename(name_index)
data_in_only_name = data_in_only_name.drop(['사용처'], axis = 1)
data_in_only_name

                     사용날짜                 사용처주소                사용금액
서호김밥             20.09.27     서울 서초구 방배동 790-13              14,000
GS25성수포레점        20.09.27  서울 성동구 성수동1가 685-696              10,000
왕창할인마트           20.09.28      서울 동작구 사당동 127-9               5,700
주식회사아성다이소        20.10.02   경남 창원시 성산구 상남동 26-4               6,000
씨제이올리브영(주)방배이수점  20.10.03       서울 서초구 방배동 1671               3,600
북창동순두부(서초점)      20.10.05    서울 서초구 서초동 1443-11               8,500
항아리식당            20.10.06    서울 서초구 서초동 1439-14               8,000
(주)무신사           20.10.06      서울 강남구 신사동 640-2              52,707
송황칼국수            20.10.07     서울 용산구 청파동2가 96-1               7,000
GS25서초프랜드점       20.10.07     서울 서초구 서초동 1605-4               3,500
내이처럼             20.10.08      서울 동작구 사당동 138-3               7,300
신도박스산업           20.10.08  경기 김포시 하성면 원산리 536-1               1,100
우정사업본부(우체국)      20.10.08      전남 나주시 성북동 218-1               7,000
월매네주막            20.10.09     서울 강남구 역삼동 817-12              79,500
데블다이스            20.10.09      서울 강남구 역삼동 816-6               6,000
곱스떡스강남본점         20.10.10      서울 강남구 역삼동 619-2              11,600
GS25강남YBM점       20.10.10     서울 강남구 역삼동 818-14               6,000
매화               20.10.12     서울 마포구 연남동 227-23               6,000
우리집              20.10.16     서울 강남구 역삼동 671-23               7,500
탐앤탐스공릉역점         20.10.19     서울 노원구 공릉동 388-35               4,000
완산골명가남부터미널점      20.10.21     서울 서초구 서초동 1441-1               6,500

In [40]:
for name in list(name_index):
    tmp_data = data_in_name.loc[name]['사용금액']
    if type(tmp_data) != str:
        price = [price.replace(',','') for price in tmp_data]
        price = list(map(int, price))
        price_sum = sum(price)
        data_in_only_name.loc[name]['사용금액'] = price_sum
        
    else:
        data_in_only_name.loc[name]['사용금액'] = int(tmp_data.replace(',',''))
        
data_in_only_name

                     사용날짜                 사용처주소   사용금액
서호김밥             20.09.27     서울 서초구 방배동 790-13  14000
GS25성수포레점        20.09.27  서울 성동구 성수동1가 685-696  10000
왕창할인마트           20.09.28      서울 동작구 사당동 127-9  29000
주식회사아성다이소        20.10.02   경남 창원시 성산구 상남동 26-4   6000
씨제이올리브영(주)방배이수점  20.10.03       서울 서초구 방배동 1671   3600
북창동순두부(서초점)      20.10.05    서울 서초구 서초동 1443-11   8500
항아리식당            20.10.06    서울 서초구 서초동 1439-14   8000
(주)무신사           20.10.06      서울 강남구 신사동 640-2  52707
송황칼국수            20.10.07     서울 용산구 청파동2가 96-1  14000
GS25서초프랜드점       20.10.07     서울 서초구 서초동 1605-4   3500
내이처럼             20.10.08      서울 동작구 사당동 138-3   7300
신도박스산업           20.10.08  경기 김포시 하성면 원산리 536-1   1100
우정사업본부(우체국)      20.10.08      전남 나주시 성북동 218-1   7000
월매네주막            20.10.09     서울 강남구 역삼동 817-12  79500
데블다이스            20.10.09      서울 강남구 역삼동 816-6   6000
곱스떡스강남본점         20.10.10      서울 강남구 역삼동 619-2  51600
GS25강남YBM점       20.10.10     서울 강남구 역삼동 818-14   6000
매화               20.10.12     서울 마포구 연남동 227-23   6000
우리집              20.10.16     서울 강남구 역삼동 671-23   7500
탐앤탐스공릉역점         20.10.19     서울 노원구 공릉동 388-35   4000
완산골명가남부터미널점      20.10.21     서울 서초구 서초동 1441-1   6500

In [41]:
name_series = df_address['사용처']

visit_count = dict(name_series.value_counts())

visit_count

{'왕창할인마트': 4,
 '송황칼국수': 2,
 '곱스떡스강남본점': 2,
 '데블다이스': 1,
 '우리집': 1,
 '우정사업본부(우체국)': 1,
 '월매네주막': 1,
 '항아리식당': 1,
 '완산골명가남부터미널점': 1,
 '북창동순두부(서초점)': 1,
 '신도박스산업': 1,
 'GS25강남YBM점': 1,
 '내이처럼': 1,
 '(주)무신사': 1,
 '매화': 1,
 'GS25서초프랜드점': 1,
 'GS25성수포레점': 1,
 '서호김밥': 1,
 '주식회사아성다이소': 1,
 '씨제이올리브영(주)방배이수점': 1,
 '탐앤탐스공릉역점': 1}

In [42]:
count_list = []

for k in name_index:
    count_list.append(visit_count[k])

In [43]:
# 사용횟수 열 추가하기

data_in_only_name.insert(3, '방문횟수', count_list)
data_in_only_name

                     사용날짜                 사용처주소   사용금액  방문횟수
서호김밥             20.09.27     서울 서초구 방배동 790-13  14000     1
GS25성수포레점        20.09.27  서울 성동구 성수동1가 685-696  10000     1
왕창할인마트           20.09.28      서울 동작구 사당동 127-9  29000     4
주식회사아성다이소        20.10.02   경남 창원시 성산구 상남동 26-4   6000     1
씨제이올리브영(주)방배이수점  20.10.03       서울 서초구 방배동 1671   3600     1
북창동순두부(서초점)      20.10.05    서울 서초구 서초동 1443-11   8500     1
항아리식당            20.10.06    서울 서초구 서초동 1439-14   8000     1
(주)무신사           20.10.06      서울 강남구 신사동 640-2  52707     1
송황칼국수            20.10.07     서울 용산구 청파동2가 96-1  14000     2
GS25서초프랜드점       20.10.07     서울 서초구 서초동 1605-4   3500     1
내이처럼             20.10.08      서울 동작구 사당동 138-3   7300     1
신도박스산업           20.10.08  경기 김포시 하성면 원산리 536-1   1100     1
우정사업본부(우체국)      20.10.08      전남 나주시 성북동 218-1   7000     1
월매네주막            20.10.09     서울 강남구 역삼동 817-12  79500     1
데블다이스            20.10.09      서울 강남구 역삼동 816-6   6000     1
곱스떡스강남본점         20.10.10      서울 강남구 역삼동 619-2  51600     2
GS25강남YBM점       20.10.10     서울 강남구 역삼동 818-14   6000     1
매화               20.10.12     서울 마포구 연남동 227-23   6000     1
우리집              20.10.16     서울 강남구 역삼동 671-23   7500     1
탐앤탐스공릉역점         20.10.19     서울 노원구 공릉동 388-35   4000     1
완산골명가남부터미널점      20.10.21     서울 서초구 서초동 1441-1   6500     1